.banner{
    font-family: Palatino Linotype, Book Antiqua3, Palatino, serif;
    font-style: italic;
    font-weight: 200;
    background-color: "#AAD4AA";
    position:fixed;
    width: 100%;
    height: 95px;
    
}

#subtitle {
    position: relative;
    top: -25px;
    left: 25px;
}



.sidebar {
    position: relative;
    left: 0px;
    top: 100px;
    width: 200px;
    height: 525px;
}
